{% extends 'home/base.html' %}

{% block content %}
    <h1 class="text-center">Quản trị khóa học</h1>
    <div class="p-2">
        <a class="btn btn-primary" href="{% url 'course_create' %}">Tạo khóa học mới</a>
    </div>

    <div class="p-2">
        <h2>Các khóa học hiện có trong hệ thống</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên khóa học</th>
                    <th>Loại khóa học</th>
                    <th>Học phí</th>
                    <th>Ngày bắt đầu</th>
                    <th>Tình trạng</th>
                    <th>Thời hạn (ngày)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td scope="row"><a href={% url 'details' course.id %}>{{ course.name }}</a></td>
                    <td>{{ course.ctype }}</td>
                    <td>{{ course.tuition_fee }}</td>
                    <td>{{ course.start_date }}</td>
                    <td>{{ course.get_status_display }}</td>
                    <td>{{ course.duration }}</td>
                    <td>
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Quản lý
                            </a>
                        
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'course_edit' course.id %}">Sửa</a>
                                <a class="dropdown-item" href="{% url 'course_delete' course.id %}">Xóa</a>
                                <a class="dropdown-item" href="{% url 'assng_teacher_course' course.id %}">Phân công GV</a>
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tbody>
        </table>
    <div>
{% endblock %}